
h1{
    color: darkblue;
}
h2{
    color: darkred;
}
h3{
    color: darkviolet;
}
.menu{
    background-color: azure;
    /*box-sizing: content-box;*/
    width: fit-content;
}
.container{
    background-color: antiquewhite;
}
#back-color-yellow{
    background-color: yellow;
}
#instruction{
    color: darkviolet;
}